:root {
	--transition: 280ms color, background-color 120ms ease-out;
}

.drop-box__row {
	@apply hover:bg-gray-200;
}

.drop-box__row > label,
.drop-box__row > a {
	@apply text-black block pl-8 leading-9 hover:bg-gray-200 focus:bg-gray-300;
}

.drop-box {
	@apply bg-white;
}

@media screen(md) {
	.md\:drop-group {
		& .drop-box {
			@apply py-3 border-gray-300 border-4 bg-white;
			min-width: 23ch;
		}
		/* behavior */
		& .drop-me {
			top: calc(100% - 0.25rem);
		}
		& .drop-me-x {
			@apply left-full -mt-12 -ml-1;
		}
		& .drop-me-y {
			@apply left-0;
		}
	}
}
