:root {
	--transition: 280ms color, background-color 120ms ease-out;
}

.dropdown__item {
	@apply hover:bg-gray-200;
}

.dropdown__item > label,
.dropdown__item > a {
	@apply text-black block pl-8 leading-9 hover:bg-gray-200 focus:bg-gray-300;
}
.dropdown {
	& > .dropdown__content {
		@apply bg-white;
	}
}
@media screen(md) {
	.dropdown {
		position: relative;
		& > .dropdown__content {
			@apply left-0 py-3 border-gray-300 border-4 bg-white;

			& .dropdown__content {
				@apply left-full;
			}

			top: calc(100% - 0.25rem);
			min-width: 23ch;
		}

		&:hover,
		&:focus-within {
			& > .dropdown__content {
				& .dropdown__content {
					@apply -mt-12;
				}
			}
		}
	}
}
