@media (--viewport-mobile) {
	[id="basket"] {
		/* like drop-group reset, but visible (need tab nav by <a>) */
		@apply max-h-0 max-w-0 overflow-hidden;
	}

	/* for debug  */
	[id="basket"],
	[id="basket"]:focus-within,
	[id="basket"]:focus {
		/* like drop-group restore, but visible (need tab nav by <a>) */
		@apply fixed top-0 left-0 w-full h-full overflow-visible;
		max-width: none;
		max-height: none;
	}
}

.order__wrapper {
	@apply pl-3 h-20 w-full flex flex-col flex-nowrap;
}

.order__price {
	@apply text-base leading-normal;
}
.order__price_promo {
	@apply text-accent text-xs pl-1;
}

.order__desctiption {
	@apply uppercase font-bold text-sm leading-tight;
}

.order__desctiption_promo {
	@apply text-accent;
}

.order__options {
	@apply mt-auto flex justify-between;
}

.order__amount {
	@apply text-sm leading-tight;
}

.order__amount_count {
	@apply ml-1 px-2 py-1 leading-tight bg-white border border-gray-300 text-sm;
}

.order__button {
	cursor: pointer;
}
